.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/** TODO: Create separate styles for .primary and .secondary variants of this button:
* - Must use the CSS variables declared in App.css
*/
.primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.primary:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.secondary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin-right: 0.5em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
